<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ea1296e-547a-4d4e-af5a-ca79e445ea4f" Alias="Accordion" Level="3">
  <Info>
    <Parent Key="119945f0-9a95-40be-95a4-a2efed2262d9">Kitchen Sink</Parent>
    <Path>/Website/KitchenSink/Accordion</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebPage</ContentType>
    <CreateDate>2021-12-27T20:05:24</CreateDate>
    <NodeName Default="Accordion" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/598e9556e8d744e0b877e1a2df3489b5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c9fa756b-9336-4cc1-adc7-42f09b52892e",
      "udi": "umb://element/598e9556e8d744e0b877e1a2df3489b5"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>