<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b3a04fc-b8c4-4527-b013-4cb5168384e0" Alias="Alerts" Level="4">
  <Info>
    <Parent Key="f14fc9d2-910b-42e3-ab28-75bc4ed0a14b">Snippets</Parent>
    <Path>/Website/Bootstrap51/Snippets/Alerts</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebPage</ContentType>
    <CreateDate>2021-12-26T11:08:59</CreateDate>
    <NodeName Default="Alerts" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2f9407e7a86c4754a40c1f1b84436f3e"
      },
      {
        "contentUdi": "umb://element/27b272aedf7b4f898fe3f60ceaee230a"
      },
      {
        "contentUdi": "umb://element/425c621b40fd4c4c840e5cb3fe906ae5"
      },
      {
        "contentUdi": "umb://element/3c42e16c678f4a738b96f420ff01e04b"
      },
      {
        "contentUdi": "umb://element/3381b160ca5f4deca4e940ae7b4386b5"
      },
      {
        "contentUdi": "umb://element/0f1ebaec16f64f1596504d19e835a41b"
      },
      {
        "contentUdi": "umb://element/46baf859fb964197bd5ff732c9969232"
      },
      {
        "contentUdi": "umb://element/ab74baaa158d470392d9c9d209f9da62"
      },
      {
        "contentUdi": "umb://element/1ce8bc5e29914e89a1a8092d483c2f82"
      },
      {
        "contentUdi": "umb://element/14e8cb28888c49ba9c9030acd98e8809"
      },
      {
        "contentUdi": "umb://element/814678a43b9745029e96c1d28eea0bd5"
      },
      {
        "contentUdi": "umb://element/e1d8f97b6476454fa87491a360b797df"
      },
      {
        "contentUdi": "umb://element/10d3628f907d48da9a0e5043d8533713"
      },
      {
        "contentUdi": "umb://element/77689becfecf458b84c4b0d1b117fcc2"
      },
      {
        "contentUdi": "umb://element/042fe93ce9e84fe2bc6a6c580041f363"
      },
      {
        "contentUdi": "umb://element/836090488ff34c91a0449f87c85b76e6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "96c225ad-7a21-4e23-b4e4-d2646651bced",
      "udi": "umb://element/2f9407e7a86c4754a40c1f1b84436f3e",
      "copy": "<p>A simple primary alert—check it out!</p>",
      "icon": "",
      "backgroundColor": "{\r\n  \"value\": \"007bff\",\r\n  \"label\": \"Primary\",\r\n  \"sortOrder\": 0,\r\n  \"id\": \"1\"\r\n}"
    },
    {
      "contentTypeKey": "96c225ad-7a21-4e23-b4e4-d2646651bced",
      "udi": "umb://element/27b272aedf7b4f898fe3f60ceaee230a",
      "copy": "<p>A simple secondary alert—check it out!</p>",
      "icon": "",
      "backgroundColor": "{\r\n  \"value\": \"6c757d\",\r\n  \"label\": \"Secondary\",\r\n  \"sortOrder\": 1,\r\n  \"id\": \"2\"\r\n}"
    },
    {
      "contentTypeKey": "96c225ad-7a21-4e23-b4e4-d2646651bced",
      "udi": "umb://element/425c621b40fd4c4c840e5cb3fe906ae5",
      "copy": "<p>A simple success alert—check it out!</p>",
      "icon": "",
      "backgroundColor": "{\r\n  \"value\": \"28a745\",\r\n  \"label\": \"Success\",\r\n  \"sortOrder\": 2,\r\n  \"id\": \"3\"\r\n}"
    },
    {
      "contentTypeKey": "96c225ad-7a21-4e23-b4e4-d2646651bced",
      "udi": "umb://element/3c42e16c678f4a738b96f420ff01e04b",
      "copy": "<p>A simple danger alert—check it out!</p>",
      "icon": "",
      "backgroundColor": "{\r\n  \"value\": \"dc3545\",\r\n  \"label\": \"Danger\",\r\n  \"sortOrder\": 3,\r\n  \"id\": \"4\"\r\n}"
    },
    {
      "contentTypeKey": "96c225ad-7a21-4e23-b4e4-d2646651bced",
      "udi": "umb://element/3381b160ca5f4deca4e940ae7b4386b5",
      "copy": "<p>A simple warning alert—check it out!</p>",
      "icon": "",
      "backgroundColor": "{\r\n  \"value\": \"ffc107\",\r\n  \"label\": \"Warning\",\r\n  \"sortOrder\": 4,\r\n  \"id\": \"5\"\r\n}"
    },
    {
      "contentTypeKey": "96c225ad-7a21-4e23-b4e4-d2646651bced",
      "udi": "umb://element/0f1ebaec16f64f1596504d19e835a41b",
      "copy": "<p>A simple info alert—check it out!</p>",
      "icon": "",
      "backgroundColor": "{\r\n  \"value\": \"17a2b8\",\r\n  \"label\": \"Info\",\r\n  \"sortOrder\": 5,\r\n  \"id\": \"6\"\r\n}"
    },
    {
      "contentTypeKey": "96c225ad-7a21-4e23-b4e4-d2646651bced",
      "udi": "umb://element/46baf859fb964197bd5ff732c9969232",
      "copy": "<p>A simple light alert—check it out!</p>",
      "icon": "",
      "backgroundColor": "{\r\n  \"value\": \"f8f9fa\",\r\n  \"label\": \"Light\",\r\n  \"sortOrder\": 6,\r\n  \"id\": \"7\"\r\n}"
    },
    {
      "contentTypeKey": "96c225ad-7a21-4e23-b4e4-d2646651bced",
      "udi": "umb://element/ab74baaa158d470392d9c9d209f9da62",
      "copy": "<p>A simple dark alert—check it out!</p>",
      "icon": "",
      "backgroundColor": "{\r\n  \"value\": \"343a40\",\r\n  \"label\": \"Dark\",\r\n  \"sortOrder\": 7,\r\n  \"id\": \"8\"\r\n}"
    },
    {
      "contentTypeKey": "f86b4d0c-d736-4fcb-b2a6-90e44f7d8a5c",
      "udi": "umb://element/1ce8bc5e29914e89a1a8092d483c2f82",
      "richText": "<p>Alerts with Icons</p>"
    },
    {
      "contentTypeKey": "96c225ad-7a21-4e23-b4e4-d2646651bced",
      "udi": "umb://element/14e8cb28888c49ba9c9030acd98e8809",
      "copy": "<p>An example alert with an icon</p>",
      "icon": "info-circle-fill",
      "backgroundColor": "{\r\n  \"value\": \"007bff\",\r\n  \"label\": \"Primary\",\r\n  \"sortOrder\": 0,\r\n  \"id\": \"1\"\r\n}"
    },
    {
      "contentTypeKey": "96c225ad-7a21-4e23-b4e4-d2646651bced",
      "udi": "umb://element/814678a43b9745029e96c1d28eea0bd5",
      "copy": "<p>An example success alert with an icon</p>",
      "icon": "check-circle-fill",
      "backgroundColor": "{\r\n  \"value\": \"28a745\",\r\n  \"label\": \"Success\",\r\n  \"sortOrder\": 2,\r\n  \"id\": \"3\"\r\n}"
    },
    {
      "contentTypeKey": "96c225ad-7a21-4e23-b4e4-d2646651bced",
      "udi": "umb://element/e1d8f97b6476454fa87491a360b797df",
      "copy": "<p>An example warning alert with an icon</p>",
      "icon": "exclamation-triangle-fill",
      "backgroundColor": "{\r\n  \"value\": \"ffc107\",\r\n  \"label\": \"Warning\",\r\n  \"sortOrder\": 4,\r\n  \"id\": \"5\"\r\n}"
    },
    {
      "contentTypeKey": "96c225ad-7a21-4e23-b4e4-d2646651bced",
      "udi": "umb://element/10d3628f907d48da9a0e5043d8533713",
      "copy": "<p>An example danger alert with an icon</p>",
      "icon": "exclamation-triangle-fill",
      "backgroundColor": "{\r\n  \"value\": \"dc3545\",\r\n  \"label\": \"Danger\",\r\n  \"sortOrder\": 3,\r\n  \"id\": \"4\"\r\n}"
    },
    {
      "contentTypeKey": "e910398e-1297-43ce-ba71-aabb5f0a6d19",
      "udi": "umb://element/77689becfecf458b84c4b0d1b117fcc2",
      "size": "[\"Small\"]"
    },
    {
      "contentTypeKey": "e910398e-1297-43ce-ba71-aabb5f0a6d19",
      "udi": "umb://element/042fe93ce9e84fe2bc6a6c580041f363",
      "size": "[\"Medium\"]"
    },
    {
      "contentTypeKey": "e910398e-1297-43ce-ba71-aabb5f0a6d19",
      "udi": "umb://element/836090488ff34c91a0449f87c85b76e6",
      "size": "[\"Large\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>