<?xml version="1.0" encoding="utf-8"?>
<Content Key="618184a0-f9ad-4667-a066-09e8711095dd" Alias="Alert" Level="3">
  <Info>
    <Parent Key="119945f0-9a95-40be-95a4-a2efed2262d9">Kitchen Sink</Parent>
    <Path>/Website/KitchenSink/Alert</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebPage</ContentType>
    <CreateDate>2021-12-27T20:05:37</CreateDate>
    <NodeName Default="Alert" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/227e2cee31244c84bcb263af9217e25e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "96c225ad-7a21-4e23-b4e4-d2646651bced",
      "udi": "umb://element/227e2cee31244c84bcb263af9217e25e",
      "copy": "<p>Copy</p>",
      "icon": "align-bottom",
      "backgroundColor": "{\r\n  \"value\": \"ffc107\",\r\n  \"label\": \"Warning\",\r\n  \"sortOrder\": 4,\r\n  \"id\": \"5\"\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>