<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d13c54f-1f50-4da6-9710-3f460723d1a2" Alias="Breadcrumbs" Level="3">
  <Info>
    <Parent Key="119945f0-9a95-40be-95a4-a2efed2262d9">Kitchen Sink</Parent>
    <Path>/Website/KitchenSink/Breadcrumbs</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebPage</ContentType>
    <CreateDate>2021-12-27T20:06:04</CreateDate>
    <NodeName Default="Breadcrumbs" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/24eecf3aaf1c4f57853aa0a0bf0ed3ba"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "711069e9-5d5a-4426-b114-3075c0e43dea",
      "udi": "umb://element/24eecf3aaf1c4f57853aa0a0bf0ed3ba"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>