<?xml version="1.0" encoding="utf-8"?>
<Content Key="07f9fa74-9faf-47c4-95f0-b266fe0e9b96" Alias="Cheatsheet" Level="4">
  <Info>
    <Parent Key="a9e93d75-e234-48d7-95d1-36ff9de8e6ce">Framework</Parent>
    <Path>/Website/Bootstrap51/Framework/Cheatsheet</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebPage</ContentType>
    <CreateDate>2021-12-19T01:10:27</CreateDate>
    <NodeName Default="Cheatsheet" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>