<?xml version="1.0" encoding="utf-8"?>
<Content Key="aaacfb30-b5e3-4ce5-b47d-7f8df4fba0da" Alias="Figure" Level="3">
  <Info>
    <Parent Key="119945f0-9a95-40be-95a4-a2efed2262d9">Kitchen Sink</Parent>
    <Path>/Website/KitchenSink/Figure</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebPage</ContentType>
    <CreateDate>2021-12-27T20:12:07</CreateDate>
    <NodeName Default="Figure" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/42ce00501cc249ffb8f467917675008c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c847fd81-457b-45a4-a088-19eaa7226927",
      "udi": "umb://element/42ce00501cc249ffb8f467917675008c"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>