<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcaea815-d4c8-4cba-bf19-768979a8ebc7" Alias="Headers" Level="4">
  <Info>
    <Parent Key="f14fc9d2-910b-42e3-ab28-75bc4ed0a14b">Snippets</Parent>
    <Path>/Website/Bootstrap51/Snippets/Webpage</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebPage</ContentType>
    <CreateDate>2021-12-19T00:51:31</CreateDate>
    <NodeName Default="Headers" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
  </Info>
  <Properties />
</Content>