<?xml version="1.0" encoding="utf-8"?>
<Content Key="7efe04da-a519-42f2-9902-be4a505beadf" Alias="Image Optimization" Level="3">
  <Info>
    <Parent Key="26451434-1161-42c7-ad89-692a6ac0f9f8">Other Topics</Parent>
    <Path>/Website/OtherTopics/ImageOptimization</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebPage</ContentType>
    <CreateDate>2021-12-19T01:27:26</CreateDate>
    <NodeName Default="Image Optimization" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/eb3556fa9d78448680705c6748cbbf94"
      },
      {
        "contentUdi": "umb://element/d855de63f67245bda1730c07a294891e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f86b4d0c-d736-4fcb-b2a6-90e44f7d8a5c",
      "udi": "umb://element/eb3556fa9d78448680705c6748cbbf94",
      "richText": "<p style=\"text-align: center;\"><strong>Rich</strong> <em>text</em> content!</p>"
    },
    {
      "contentTypeKey": "12d3a572-29ff-4280-a3f4-3cf245aba03e",
      "udi": "umb://element/d855de63f67245bda1730c07a294891e"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>