<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6f284ae-1077-4a32-8684-224cc145650d" Alias="Image" Level="3">
  <Info>
    <Parent Key="119945f0-9a95-40be-95a4-a2efed2262d9">Kitchen Sink</Parent>
    <Path>/Website/KitchenSink/Image</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebPage</ContentType>
    <CreateDate>2021-12-27T20:12:31</CreateDate>
    <NodeName Default="Image" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/de1038c29c1b4d03b02fd4f9897d14ce"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "12d3a572-29ff-4280-a3f4-3cf245aba03e",
      "udi": "umb://element/de1038c29c1b4d03b02fd4f9897d14ce",
      "image": "[\r\n  {\r\n    \"key\": \"abc863b1-95f3-4595-8569-66946a9e9cc5\",\r\n    \"mediaKey\": \"601d431c-1561-432d-a07f-3f41fcc24821\",\r\n    \"crops\": [],\r\n    \"focalPoint\": {\r\n      \"left\": 0.5,\r\n      \"top\": 0.5\r\n    }\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>