<?xml version="1.0" encoding="utf-8"?>
<Content Key="7efe04da-a519-42f2-9902-be4a505beadf" Alias="Image Optimization" Level="3">
  <Info>
    <Parent Key="26451434-1161-42c7-ad89-692a6ac0f9f8">Other Topics</Parent>
    <Path>/Website/OtherTopics/ImageOptimization</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebPage</ContentType>
    <CreateDate>2021-12-19T01:27:26</CreateDate>
    <NodeName Default="Image Optimization" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/eb3556fa9d78448680705c6748cbbf94"
      },
      {
        "contentUdi": "umb://element/01bc6664d3de436db1d1e962815d7624"
      },
      {
        "contentUdi": "umb://element/3a124090dafe440484108ceb87b3109d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f86b4d0c-d736-4fcb-b2a6-90e44f7d8a5c",
      "udi": "umb://element/eb3556fa9d78448680705c6748cbbf94",
      "richText": "<ol>\n<li>Set an appropriate <strong>caching strategy</strong>.</li>\n<li>Set the <strong>width &amp; height</strong> attributes to minimize content and layout shift.</li>\n<li>Choose your <strong>image format</strong> wisely.</li>\n<li>Provide <strong>appropriately sized images</strong> for all breakpoints.</li>\n<li>Defer loading images below-the-fold with <strong>lazy loading</strong> to save bandwidth and cut down the initial network payload.</li>\n</ol>"
    },
    {
      "contentTypeKey": "f86b4d0c-d736-4fcb-b2a6-90e44f7d8a5c",
      "udi": "umb://element/01bc6664d3de436db1d1e962815d7624",
      "richText": "<p>The following image is<span> </span><em>the original</em>, a<span> </span><strong>PNG</strong>,<span> </span><strong>2560px x 1440px</strong>, and<span> </span><strong>2.92MB</strong>.</p>"
    },
    {
      "contentTypeKey": "12d3a572-29ff-4280-a3f4-3cf245aba03e",
      "udi": "umb://element/3a124090dafe440484108ceb87b3109d",
      "image": "[\r\n  {\r\n    \"key\": \"6754b494-4298-46f5-9a98-4a44e29481b3\",\r\n    \"mediaKey\": \"4bffacef-6813-44e4-ab13-9d728cace88a\",\r\n    \"crops\": [],\r\n    \"focalPoint\": {\r\n      \"left\": 0.5,\r\n      \"top\": 0.5\r\n    }\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>