<?xml version="1.0" encoding="utf-8"?>
<Content Key="98fd48e7-00d5-4413-b2c7-eb338b060cb2" Alias="Navbars" Level="3">
  <Info>
    <Parent Key="a2e122e8-ea2b-4a4c-b33a-0fe3802319fe">Bootstrap 5.1</Parent>
    <Path>/Website/Bootstrap51/Navbars</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebPage</ContentType>
    <CreateDate>2021-12-19T01:10:58</CreateDate>
    <NodeName Default="Navbars" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>