<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcd0087f-64f9-47a9-89b6-d11245ee24d6" Alias="Navbar Fixed" Level="4">
  <Info>
    <Parent Key="98fd48e7-00d5-4413-b2c7-eb338b060cb2">Navbars</Parent>
    <Path>/Website/Bootstrap51/Navbars/NavbarFixed</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebPage</ContentType>
    <CreateDate>2021-12-19T01:11:38</CreateDate>
    <NodeName Default="Navbar Fixed" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
  </Info>
  <Properties />
</Content>