<?xml version="1.0" encoding="utf-8"?>
<Content Key="980a0ba5-43aa-41c8-82e6-36f0b4650e32" Alias="Navbar Bottom" Level="4">
  <Info>
    <Parent Key="98fd48e7-00d5-4413-b2c7-eb338b060cb2">Navbars</Parent>
    <Path>/Website/Bootstrap51/Navbars/NavbarBottom</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebPage</ContentType>
    <CreateDate>2021-12-19T01:11:45</CreateDate>
    <NodeName Default="Navbar Bottom" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
  </Info>
  <Properties />
</Content>