<?xml version="1.0" encoding="utf-8"?>
<Content Key="26451434-1161-42c7-ad89-692a6ac0f9f8" Alias="Other Topics" Level="2">
  <Info>
    <Parent Key="194bcdf4-3fc7-48e9-8162-29389a0639cc">Website</Parent>
    <Path>/Website/OtherTopics</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebPage</ContentType>
    <CreateDate>2021-12-19T01:27:11</CreateDate>
    <NodeName Default="Other Topics" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>