<?xml version="1.0" encoding="utf-8"?>
<Content Key="4bf559aa-3c7a-44cd-9947-4f567da3ed54" Alias="Picture" Level="3">
  <Info>
    <Parent Key="119945f0-9a95-40be-95a4-a2efed2262d9">Kitchen Sink</Parent>
    <Path>/Website/KitchenSink/Picture</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebPage</ContentType>
    <CreateDate>2021-12-27T20:13:15</CreateDate>
    <NodeName Default="Picture" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4a3d2f1be7a74ca884f285266ebe9d3a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f15733a0-54de-4426-b616-1baf7b07fa5f",
      "udi": "umb://element/4a3d2f1be7a74ca884f285266ebe9d3a"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>