<?xml version="1.0" encoding="utf-8"?>
<Content Key="f14fc9d2-910b-42e3-ab28-75bc4ed0a14b" Alias="Snippets" Level="3">
  <Info>
    <Parent Key="a2e122e8-ea2b-4a4c-b33a-0fe3802319fe">Bootstrap 5.1</Parent>
    <Path>/Website/Bootstrap51/Snippets</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebPage</ContentType>
    <CreateDate>2021-12-19T01:06:53</CreateDate>
    <NodeName Default="Snippets" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>