<?xml version="1.0" encoding="utf-8"?>
<Content Key="50394f7a-476d-4674-8a9c-6aa8a9d90f54" Alias="Spacer" Level="3">
  <Info>
    <Parent Key="119945f0-9a95-40be-95a4-a2efed2262d9">Kitchen Sink</Parent>
    <Path>/Website/KitchenSink/Spacer</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebPage</ContentType>
    <CreateDate>2021-12-27T20:14:13</CreateDate>
    <NodeName Default="Spacer" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ad786defc9964c1e8998ea58805aaf74"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e910398e-1297-43ce-ba71-aabb5f0a6d19",
      "udi": "umb://element/ad786defc9964c1e8998ea58805aaf74",
      "size": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>