<?xml version="1.0" encoding="utf-8"?>
<Content Key="3dce880f-4b8c-4c8b-96d0-294bc3998bfd" Alias="Sticky Footer Navbar" Level="4">
  <Info>
    <Parent Key="45884282-abf2-4b62-9361-25f3b063b21c">Custom Components</Parent>
    <Path>/Website/Bootstrap51/CustomComponents/StickyFooterNavbar</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebPage</ContentType>
    <CreateDate>2021-12-19T01:09:52</CreateDate>
    <NodeName Default="Sticky Footer Navbar" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
  </Info>
  <Properties />
</Content>