<?xml version="1.0" encoding="utf-8"?>
<Content Key="076ae997-0360-43a0-b94c-225a7c5d425e" Alias="Umbraco Property Editors" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoPropertyEditors</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoPropertyEditors</ContentType>
    <CreateDate>2021-12-27T10:14:58</CreateDate>
    <NodeName Default="Umbraco Property Editors" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
    <checkboxList>
      <Value><![CDATA[[]]]></Value>
    </checkboxList>
    <colorPicker>
      <Value><![CDATA[]]></Value>
    </colorPicker>
    <contentPicker>
      <Value><![CDATA[]]></Value>
    </contentPicker>
    <datePicker>
      <Value><![CDATA[]]></Value>
    </datePicker>
    <datePickerWithTime>
      <Value><![CDATA[]]></Value>
    </datePickerWithTime>
    <decimal>
      <Value><![CDATA[]]></Value>
    </decimal>
    <dropdown>
      <Value><![CDATA[]]></Value>
    </dropdown>
    <emailAddress>
      <Value><![CDATA[]]></Value>
    </emailAddress>
    <eyeDropperColorPicker>
      <Value><![CDATA[]]></Value>
    </eyeDropperColorPicker>
    <gridLayout>
      <Value><![CDATA[]]></Value>
    </gridLayout>
    <imageCropper>
      <Value><![CDATA[]]></Value>
    </imageCropper>
    <markdownEditor>
      <Value><![CDATA[]]></Value>
    </markdownEditor>
    <mediaPicker>
      <Value><![CDATA[]]></Value>
    </mediaPicker>
    <memberGroupPicker>
      <Value><![CDATA[]]></Value>
    </memberGroupPicker>
    <memberPicker>
      <Value><![CDATA[]]></Value>
    </memberPicker>
    <multinodeTreepicker>
      <Value><![CDATA[]]></Value>
    </multinodeTreepicker>
    <multipleTextstring>
      <Value><![CDATA[]]></Value>
    </multipleTextstring>
    <multiUrlPicker>
      <Value><![CDATA[[]]]></Value>
    </multiUrlPicker>
    <numeric>
      <Value><![CDATA[]]></Value>
    </numeric>
    <radioButtonList>
      <Value><![CDATA[]]></Value>
    </radioButtonList>
    <slider>
      <Value><![CDATA[0]]></Value>
    </slider>
    <tags>
      <Value><![CDATA[[]]]></Value>
    </tags>
    <textarea>
      <Value><![CDATA[]]></Value>
    </textarea>
    <textBox>
      <Value><![CDATA[]]></Value>
    </textBox>
    <tinyMCE>
      <Value><![CDATA[]]></Value>
    </tinyMCE>
    <trueFalse>
      <Value><![CDATA[0]]></Value>
    </trueFalse>
    <uploadField>
      <Value><![CDATA[]]></Value>
    </uploadField>
    <userPicker>
      <Value><![CDATA[]]></Value>
    </userPicker>
  </Properties>
</Content>