<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2fc56bf-1d0e-4a90-89d2-41c7e16547de" Alias="Umbracostrap Property Editors" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracostrapPropertyEditors</Path>
    <Trashed>false</Trashed>
    <ContentType>bootstrapPropertyEditors</ContentType>
    <CreateDate>2021-12-27T10:17:33</CreateDate>
    <NodeName Default="Umbracostrap Property Editors" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>