<?xml version="1.0" encoding="utf-8"?>
<Content Key="194bcdf4-3fc7-48e9-8162-29389a0639cc" Alias="Website" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Website</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebApplication</ContentType>
    <CreateDate>2021-12-19T00:51:17</CreateDate>
    <NodeName Default="Website" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8aa07162-4354-465c-bce7-9a0a4ea64645">Website</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
    <navigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/724f9a0cbe49436b80617e68fc0f7e7f"
      },
      {
        "contentUdi": "umb://element/c830040eca734baaba9285d60c9f309a"
      },
      {
        "contentUdi": "umb://element/18f30cb38712471f954593b9e6794aaf"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "48c02da6-9518-46b8-90f6-809b1a6b721c",
      "udi": "umb://element/724f9a0cbe49436b80617e68fc0f7e7f"
    },
    {
      "contentTypeKey": "12e403cf-dc01-4287-9dcf-61e36874d5ed",
      "udi": "umb://element/c830040eca734baaba9285d60c9f309a"
    },
    {
      "contentTypeKey": "72164289-2aea-40a8-97c1-536470559901",
      "udi": "umb://element/18f30cb38712471f954593b9e6794aaf"
    }
  ],
  "settingsData": []
}]]></Value>
    </navigation>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>