<?xml version="1.0" encoding="utf-8"?>
<Content Key="194bcdf4-3fc7-48e9-8162-29389a0639cc" Alias="Website" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Website</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebApplication</ContentType>
    <CreateDate>2021-12-19T00:51:17</CreateDate>
    <NodeName Default="Website" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8aa07162-4354-465c-bce7-9a0a4ea64645">Website</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
    <canonicalURL>
      <Value><![CDATA[]]></Value>
    </canonicalURL>
  </Properties>
</Content>