<?xml version="1.0" encoding="utf-8"?>
<Content Key="194bcdf4-3fc7-48e9-8162-29389a0639cc" Alias="Website" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Website</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracostrapWebApplication</ContentType>
    <CreateDate>2021-12-19T00:51:17</CreateDate>
    <NodeName Default="Website" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8aa07162-4354-465c-bce7-9a0a4ea64645">Website</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
    <canonicalURL>
      <Value><![CDATA[umbraco-9.markadrake.com]]></Value>
    </canonicalURL>
    <navigationItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/aee218d8cc764abb84e526997b62f649"
      },
      {
        "contentUdi": "umb://element/524152123dc743c496a831b90c7c12cb"
      },
      {
        "contentUdi": "umb://element/6e90a3974902453f9f9c6a5e2859c685"
      },
      {
        "contentUdi": "umb://element/7e9ed4cdb59147afb3513cfe85f29908"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "12e403cf-dc01-4287-9dcf-61e36874d5ed",
      "udi": "umb://element/aee218d8cc764abb84e526997b62f649",
      "link": "[{\"name\":\"Bootstrap 5.1\",\"udi\":\"umb://document/a2e122e8ea2b4a4cb33a0fe3802319fe\"}]",
      "dropdownLinks": ""
    },
    {
      "contentTypeKey": "12e403cf-dc01-4287-9dcf-61e36874d5ed",
      "udi": "umb://element/524152123dc743c496a831b90c7c12cb",
      "link": "[{\"name\":\"Umbraco 9.1.2\",\"udi\":\"umb://document/cd8dd2fd344d4677a4f8166023787810\"}]",
      "dropdownLinks": ""
    },
    {
      "contentTypeKey": "12e403cf-dc01-4287-9dcf-61e36874d5ed",
      "udi": "umb://element/6e90a3974902453f9f9c6a5e2859c685",
      "link": "[{\"name\":\"Other Topics\",\"udi\":\"umb://document/26451434116142c7ad89692a6ac0f9f8\"}]",
      "dropdownLinks": ""
    },
    {
      "contentTypeKey": "12e403cf-dc01-4287-9dcf-61e36874d5ed",
      "udi": "umb://element/7e9ed4cdb59147afb3513cfe85f29908",
      "link": "[{\"name\":\"Kitchen Sink\",\"udi\":\"umb://document/119945f09a9540be95a4a2efed2262d9\"}]",
      "dropdownLinks": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </navigationItems>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <seoLabel>
      <Value><![CDATA[]]></Value>
    </seoLabel>
  </Properties>
</Content>