<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="58f918eb-350f-4ff6-9b13-80542a6374a2" Alias="hasImageSharpSettings" Level="4">
  <Info>
    <Name>Has ImageSharp Settings</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Blocks/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5b8da32d-6c25-42ef-938e-2b45ae5f1d8f</Key>
      <Name>Anchor Position</Name>
      <Alias>anchorPosition</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Optional) Pre-defined anchor positions to apply to resized images.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="imageSharpSettings">ImageSharp Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dce295bb-4e22-41f1-a13f-fd73a95d968f</Key>
      <Name>Height</Name>
      <Alias>height</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Optional) The height of the image in px. Use only one dimension to preserve the aspect ratio.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="imageSharpSettings">ImageSharp Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5b52aa76-575c-4a95-95e0-dd62f89e4dfb</Key>
      <Name>Manual Anchor Position</Name>
      <Alias>manualAnchorPosition</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Optional) Use an exact anchor position point. The comma-separated x and y values range from 0-1.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="imageSharpSettings">ImageSharp Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0b895518-0b9a-4ef5-ad9a-9b7ccad4f7e9</Key>
      <Name>Resample Mode</Name>
      <Alias>resampleMode</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Optional) The algorithm used for resampling images.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="imageSharpSettings">ImageSharp Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>48b8f95a-4d28-4b3e-9f1e-61fe526035cc</Key>
      <Name>Resize Mode</Name>
      <Alias>resizeMode</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Optional) How the image should be resized.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="imageSharpSettings">ImageSharp Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c5eb2a36-311b-43ad-8293-4a1c854a9fd0</Key>
      <Name>Width</Name>
      <Alias>width</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Optional) The width of the image in px. Use only one dimension to preserve the aspect ratio.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="imageSharpSettings">ImageSharp Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ce112f48-86ef-45bb-92d9-d405fafc0de5</Key>
      <Caption>ImageSharp Settings</Caption>
      <Alias>imageSharpSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>