<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="61b538ef-5a47-45ee-bfdd-64bbf616873f" Alias="hasOpenGraphMarkup" Level="3">
  <Info>
    <Name>Has Open Graph Markup</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fde3e7fc-2a36-474f-b5ad-306a791a6fe2</Key>
      <Name>Label</Name>
      <Alias>openGraphLabel</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="marketingContent/openGraph">Open Graph</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3cf3053c-6bc2-4073-b526-154fd1413425</Key>
      <Caption>Open Graph</Caption>
      <Alias>marketingContent/openGraph</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>37ef2931-2d3d-4380-b7c8-32a91baf472d</Key>
      <Caption>Marketing Content</Caption>
      <Alias>marketingContent</Alias>
      <Type>Tab</Type>
      <SortOrder>101</SortOrder>
    </Tab>
  </Tabs>
</ContentType>