<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="900f94ae-8afa-4c35-96ef-f4729f082f06" Alias="hasStructuredDataMarkup" Level="3">
  <Info>
    <Name>Has Structured Data Markup</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>