<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0e7ae206-47dc-4c05-8321-a849c5f358fc" Alias="hasSEOMarkup" Level="3">
  <Info>
    <Name>Has SEO Markup</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>979ac713-3d7a-40c3-904f-67d0309b0b3d</Key>
      <Name>label</Name>
      <Alias>seoLabel</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="marketingContent/seO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bfd20b5a-2f00-4594-a6a7-e81664147d0c</Key>
      <Caption>SEO</Caption>
      <Alias>marketingContent/seO</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>189eda23-65ef-4975-8dd8-30e3f10da6fb</Key>
      <Caption>Marketing Content</Caption>
      <Alias>marketingContent</Alias>
      <Type>Tab</Type>
      <SortOrder>101</SortOrder>
    </Tab>
  </Tabs>
</ContentType>