<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4d8bf266-ee70-41ce-949d-d838f46f3cef" Alias="hasTwitterMarkup" Level="3">
  <Info>
    <Name>Has Twitter Markup</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>