<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="48c02da6-9518-46b8-90f6-809b1a6b721c" Alias="navigationLink" Level="4">
  <Info>
    <Name>Navigation – Link</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Blocks/Navigation</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>