<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="12e403cf-dc01-4287-9dcf-61e36874d5ed" Alias="navigationLinkWithDropdown" Level="4">
  <Info>
    <Name>Navigation – Link with Dropdown</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Bootstrap: Navigation Link with a Dropdown.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Blocks/Navigation</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7c1008c3-a627-4ff0-9f2e-bea2ed5b170f</Key>
      <Name>Dropdown Links</Name>
      <Alias>dropdownLinks</Alias>
      <Definition>d703b0ee-2aab-4fbe-9a15-9940bcd5a110</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Optional) Provide additional links to reveal on hover.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="withDropdown1">With Dropdown</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7762f983-2e46-42a3-ae2d-50e5b56d1ab4</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Required) At least one link is required.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigationLink">Navigation Link</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1ba16e4a-dd5d-498f-9bb8-5f4f79130454</Key>
      <Name>Megamenu</Name>
      <Alias>megamenu</Alias>
      <Definition>0a2011b1-0bb3-476d-9234-8f0f3d8db03a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Optional) Provide additional content to reveal on hover. This overrides any dropdown links selected previously.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="withMegamenu1">With Megamenu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d14337c4-d59f-4963-858c-365f648e12bd</Key>
      <Caption>Navigation Link</Caption>
      <Alias>navigationLink</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c80b21c6-f8c6-4736-a96e-8b23bb4feb7f</Key>
      <Caption>With Dropdown</Caption>
      <Alias>withDropdown1</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>9b585d67-e5f5-4e02-851c-3eaa38b9eb8d</Key>
      <Caption>With Megamenu</Caption>
      <Alias>withMegamenu1</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>