<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e910398e-1297-43ce-ba71-aabb5f0a6d19" Alias="spacer" Level="3">
  <Info>
    <Name>Spacer</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Starter Kit: Create and set vertical space between blocks of content.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>