<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f86b4d0c-d736-4fcb-b2a6-90e44f7d8a5c" Alias="umbracostrapBlocksRichTextEditor" Level="3">
  <Info>
    <Name>Rich Text Editor</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Starter Kit: Write content using a rich text editor allowing some basic formatting options.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8c760664-e11e-4be3-b4b5-f3db38ce02d5</Key>
      <Name>Copy</Name>
      <Alias>richText</Alias>
      <Definition>9f8ad466-90fa-48c2-8fc7-4c34bb71c05f</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Recommended)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>46bc4d59-5a78-4cff-bf07-eb1d3c671f19</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>