<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="711069e9-5d5a-4426-b114-3075c0e43dea" Alias="umbracostrapBlocksBreadcrumbs" Level="3">
  <Info>
    <Name>Breadcrumbs</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Bootstrap 5: Needs description.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>