<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="96c225ad-7a21-4e23-b4e4-d2646651bced" Alias="umbracostrapBlocksAlert" Level="3">
  <Info>
    <Name>Alert</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Bootstrap 5: Needs description.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c99e9db7-f1a7-46c1-8113-11b548da111f</Key>
      <Name>Background Color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>5f92a49a-0ee4-43df-afcb-50648a0cf8e0</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>86a59d99-b170-4eb9-a498-be7536f87162</Key>
      <Name>Copy</Name>
      <Alias>copy</Alias>
      <Definition>9f8ad466-90fa-48c2-8fc7-4c34bb71c05f</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Required)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>047e50e6-a1e7-4a9b-9e9d-d40df1236334</Key>
      <Name>Icon</Name>
      <Alias>icon</Alias>
      <Definition>cce5edc8-9e6a-448f-9661-3537bc86dbc1</Definition>
      <Type>umbracostrapIconsPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Optional) Choose an icon from the Bootstrap Icons library to feature to the left of the provided copy above.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c151e65a-c988-4f02-aaf1-d416429264b4</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>cc553db6-ab55-482f-b123-37fbccaffb00</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>