<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="12d3a572-29ff-4280-a3f4-3cf245aba03e" Alias="umbracostrapBlocksImage" Level="3">
  <Info>
    <Name>Image</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Bootstrap 5:</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>