<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4e45f82b-8183-4131-8aac-a7d84ad69fce" Alias="umbracostrapBlocksHasBackgroundSettings" Level="4">
  <Info>
    <Name>Has Background Settings</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Composition:</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Blocks/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>