<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f45fa5e4-0446-477f-bd9f-195c6490ea50" Alias="umbracostrapBlocksHasSizeSettings" Level="4">
  <Info>
    <Name>Has Size Settings</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Composition:</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Blocks/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>