<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ee72110c-c29e-45c7-924b-5869877d737d" Alias="umbracostrapHasBlockListContent" Level="3">
  <Info>
    <Name>Has Block List Content</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Composition: Adds a block list and default configuration.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>61dd94b5-afb0-4001-9628-f4d698fdb2e1</Key>
      <Name>Content</Name>
      <Alias>blockList</Alias>
      <Definition>d8c0f056-2bf8-402f-b356-14badb5e8098</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Recommended) Build and manage your web page content through a selection of pre-defined components.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="webPageContent">Web Page Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>06b65325-f02c-4dc6-b58d-9f753e4215d8</Key>
      <Caption>Web Page Content</Caption>
      <Alias>webPageContent</Alias>
      <Type>Tab</Type>
      <SortOrder>-100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>