<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="74302ebe-250d-4bd4-8b74-9eb2283709fb" Alias="umbracostrapBlocksCarouselSlide" Level="3">
  <Info>
    <Name>Carousel – Slide</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Bootstrap 5: Represents one slide for the Carousel block.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>410bd690-1404-461a-83cf-23229290f51a</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Recommended)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="slide">Slide</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8d892202-0791-4842-9d42-d77711a2f2ef</Key>
      <Name>Image Alt Text</Name>
      <Alias>imageAltText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Recommended) Provide a description for this image - incredibly useful for accessibility.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="slide">Slide</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e3b30709-907f-4ab2-bff9-f18d8d3655bb</Key>
      <Name>Interval</Name>
      <Alias>interval</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Optional) Change the amount of time to delay between automatically cycling to the next item.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="slide">Slide</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1749e3b5-6416-4f4d-ae45-e228cdc73a3f</Key>
      <Name>Label</Name>
      <Alias>label</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Recommended) Label this slide to improve the editing experience.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="slide">Slide</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>65ef8d76-6460-457f-b4c9-fb94d0253722</Key>
      <Caption>Slide</Caption>
      <Alias>slide</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>