<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="145b3975-7f4c-44d6-90e7-bba80d4f4201" Alias="umbracostrapPropertyEditors" Level="2">
  <Info>
    <Name>Umbracostrap Property Editors</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>These property editors are part of the Umbracostrap project (custom).</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Umbracostrap</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0ad2eb9a-8fa6-4dc4-b7fd-d698b16f6fb9</Key>
      <Name>Image Crops</Name>
      <Alias>imageCrops</Alias>
      <Definition>0137a710-ad68-4445-a766-bc5882f7d521</Definition>
      <Type>umbracostrapImageCropPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="custom">Custom</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ff4dbf85-4914-42c2-8d0c-348e442210a5</Key>
      <Caption>Custom</Caption>
      <Alias>custom</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>