<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1a6a574a-f19e-4ebd-8377-4b213b139657" Alias="umbracostrapBlocksHasSpacingSettings" Level="4">
  <Info>
    <Name>Has Spacing Settings</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Composition:</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Blocks/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>