<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b7ba895e-00d9-401b-b5ad-d616e5322bda" Alias="umbracostrapWebpage" Level="2">
  <Info>
    <Name>Webpage</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Umbracostrap</Folder>
    <Compositions />
    <DefaultTemplate>WebPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b7ba895e-00d9-401b-b5ad-d616e5322bda" SortOrder="0">umbracostrapWebpage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>