<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="852b1160-f220-434f-82e6-391fb3372d81" Alias="umbracostrapBlocksCarousel" Level="3">
  <Info>
    <Name>Carousel</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Bootstrap 5:</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>