<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="076f7a3c-6ac7-4942-899e-c2547d97df98" Alias="umbracostrapWebApplication" Level="2">
  <Info>
    <Name>Web Application</Name>
    <Icon>icon-globe-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Starting content node for a web application.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Umbracostrap</Folder>
    <Compositions>
      <Composition Key="3bf2edce-bc6a-42dd-9a0a-603c3fe32475">umbracostrapWebApplicationSettings</Composition>
    </Compositions>
    <DefaultTemplate>Website</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8aa07162-4354-465c-bce7-9a0a4ea64645">Website</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b7ba895e-00d9-401b-b5ad-d616e5322bda" SortOrder="0">umbracostrapWebPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>