<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cf402ebd-1af8-4892-b6ea-04320bfe277c" Alias="umbracostrapBlocksBadge" Level="3">
  <Info>
    <Name>Badge</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Bootstrap 5:</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>