<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b7ba895e-00d9-401b-b5ad-d616e5322bda" Alias="umbracostrapWebPage" Level="2">
  <Info>
    <Name>Web Page</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Generic web page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Umbracostrap</Folder>
    <Compositions>
      <Composition Key="61b538ef-5a47-45ee-bfdd-64bbf616873f">hasOpenGraphMarkup</Composition>
      <Composition Key="0e7ae206-47dc-4c05-8321-a849c5f358fc">hasSeoMarkup</Composition>
      <Composition Key="ee72110c-c29e-45c7-924b-5869877d737d">umbracostrapHasBlockListContent</Composition>
    </Compositions>
    <DefaultTemplate>WebPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ef2b0756-2a88-4342-b3e7-deb033c38e63">WebPage</Template>
      <Template Key="505f2a78-115b-4af5-989a-e77bdde0a91c">WebPageRollup</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b7ba895e-00d9-401b-b5ad-d616e5322bda" SortOrder="0">umbracostrapWebPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>