<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="96c225ad-7a21-4e23-b4e4-d2646651bced" Alias="umbracostrapBlocksAlert" Level="3">
  <Info>
    <Name>Alert</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Bootstrap 5:</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>