<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3f5a36bf-3f90-4957-8816-797e1a9c30b6" Alias="umbracostrapBlocksOffCanvas" Level="3">
  <Info>
    <Name>Off Canvas</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Bootstrap 5: Build hidden sidebars into your project for navigation, shopping carts, and more with a few classes and our JavaScript plugin.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbracostrap/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>