<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cce5edc8-9e6a-448f-9661-3537bc86dbc1" Alias="Bootstrap Icons Picker" Level="1">
  <Info>
    <Name>Bootstrap Icons Picker</Name>
    <EditorAlias>umbracostrapIconsPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>