<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f92a49a-0ee4-43df-afcb-50648a0cf8e0" Alias="Bootstrap 5 – Color Picker" Level="1">
  <Info>
    <Name>Bootstrap 5 – Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "UseLabel": true,
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"007bff\",\"label\":\"Primary\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"6c757d\",\"label\":\"Secondary\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"28a745\",\"label\":\"Success\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"dc3545\",\"label\":\"Danger\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"ffc107\",\"label\":\"Warning\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"17a2b8\",\"label\":\"Info\"}"
    },
    {
      "id": 7,
      "value": "{\"value\":\"f8f9fa\",\"label\":\"Light\"}"
    },
    {
      "id": 8,
      "value": "{\"value\":\"343a40\",\"label\":\"Dark\"}"
    }
  ]
}]]></Config>
</DataType>