<?xml version="1.0" encoding="utf-8"?>
<DataType Key="734f3893-a640-421d-ae7a-4716f743733c" Alias="Bootstrap Carousel Transitions" Level="1">
  <Info>
    <Name>Bootstrap Carousel Transitions</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Slide"
    },
    {
      "id": 2,
      "value": "Crossfade"
    }
  ]
}]]></Config>
</DataType>