<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3e7813c5-03c4-4a69-8e0e-dc440086731e" Alias="Carousel - Slides - Block List" Level="1">
  <Info>
    <Name>Carousel - Slides - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "74302ebe-250d-4bd4-8b74-9eb2283709fb",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{label || 'Slide'}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>