<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d5e1426e-73b2-462b-aeb4-9b98263ef630" Alias="Email address" Level="1">
  <Info>
    <Name>Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>