<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1df9f033-e6d4-451f-b8d2-e0cbc50a836f" Alias="Image Cropper" Level="1">
  <Info>
    <Name>Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "16:9 XL",
      "width": 1920,
      "height": 1080
    },
    {
      "alias": "16:9 L",
      "width": 1440,
      "height": 810
    },
    {
      "alias": "16:9 M",
      "width": 1280,
      "height": 720
    },
    {
      "alias": "16:9 S",
      "width": 1024,
      "height": 576
    },
    {
      "alias": "16:9 XS",
      "width": 640,
      "height": 360
    },
    {
      "alias": "Twitter Card with Large Image",
      "width": 1024,
      "height": 512
    },
    {
      "alias": "Facebook Image for Link Shares",
      "width": 1200,
      "height": 630
    }
  ]
}]]></Config>
</DataType>