<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0137a710-ad68-4445-a766-bc5882f7d521" Alias="Image Crops" Level="1">
  <Info>
    <Name>Image Crops</Name>
    <EditorAlias>umbracostrapImageCropPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataType": {}
}]]></Config>
</DataType>