<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aa9bb023-a0cf-4e3e-8eb9-41f2231406cd" Alias="Markdown editor" Level="1">
  <Info>
    <Name>Markdown editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisplayLivePreview": false,
  "DefaultValue": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>