<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1a27ab74-fede-4117-a753-1ab0c5ea1fc4" Alias="Multinode Treepicker" Level="1">
  <Info>
    <Name>Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>