<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d703b0ee-2aab-4fbe-9a15-9940bcd5a110" Alias="Navigation – Dropdown Links - Block List" Level="1">
  <Info>
    <Name>Navigation – Dropdown Links - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "48c02da6-9518-46b8-90f6-809b1a6b721c",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>