<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c5e134c3-5287-4dc4-b53b-a95f7f753a34" Alias="Repeatable textstrings" Level="1">
  <Info>
    <Name>Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Minimum": 0,
  "Maximum": 0
}]]></Config>
</DataType>