<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a44768ef-f51c-4c6c-b091-c0d05ff736d5" Alias="Slider" Level="1">
  <Info>
    <Name>Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.0,
  "InitialValue2": 0.0,
  "MinimumValue": 0.0,
  "MaximumValue": 0.0,
  "StepIncrements": 0.0
}]]></Config>
</DataType>