<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e4327912-90ac-4786-a2df-2d868b1551fb" Alias="Spacer - Size - Dropdown" Level="1">
  <Info>
    <Name>Spacer - Size - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Small"
    },
    {
      "id": 2,
      "value": "Medium"
    },
    {
      "id": 3,
      "value": "Large"
    }
  ]
}]]></Config>
</DataType>