@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListModel>
@{
    if (!Model.Any()) { return; }
}

@foreach (var block in Model)
{
    if (block?.ContentUdi == null) { continue; }
    var data = block.Content;

    @*
        Umbracostrap components are located in the `/app_plugins/` directory.
    *@
    if(data.ContentType.Alias.IndexOf("umbracostrap") == 0) {
        <div data-key="@(data.Key)">
            @await Html.PartialAsync($"/app_plugins/umbracostrap/blocks/{data.ContentType.Alias}.cshtml", block)
        </div>

        continue;
    }

    <div data-key="@(data.Key)">
        @await Html.PartialAsync("BlockList/Components/" + data.ContentType.Alias, block)
    </div>
}
